div {
  max-width: 100%;
  margin: 0 auto;
}

table {
  background-color: lightblue;
  color: darkslategray;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: rgb(4, 55, 96);
  color: antiquewhite;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filters h3,
.filters input,
.filters label {
  margin-right: 10px;
}
