.browsingPageResults div {
  max-width: 100%;
  margin: 0 auto;
  background-color: lightcyan;
}

.browsingPageResults table {
  background-color: lightblue;
  color: darkblue;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.browsingPageResults table th {
  background-color: rgb(4, 55, 96);
  color: antiquewhite;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
.browsingPageResults tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.browsingPageResults label {
  font-size: larger;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 5px;
}
.browsingPageResults label input[type="checkbox"] {
  transform: scale(1.5);
}
.filters {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.filters div {
  width: 25%;
}
